body{
    font-family: Poppins , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#GameStartedButton {
  background: #685ff0;
  border: 0px;
  color: white;
  width: 100%;
  font-size: large;
  font-weight: bold;
  padding: 8px;
  margin-top: 10px;
}
#Board button {
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 3px;
}
#Board {
    color: white;
}
#App header {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}
#App header button {
  width: 50px;
  height: 50px;
  border: 0px;
  font-size: 24px;
  font-weight: bold;
  margin: 0px 15px;
}

#Alert {
  font-size: large;
}

#App {
  margin: auto;
}


body {
  background: linear-gradient(to right, #88368e, #416155);
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  min-height: 100vh;
}

.EmptyField {
  background: rgb(211, 211, 211);
}
.Player1, .Player2 {
  background-size: 50px !important;
}
.Player1 {
  background: #5b5b5b url("public/superhero.png");
}

.Player2 {
  background: rgb(240 240 240) url("public/superhero2.png");
}
.AllowedFields1 {
  background-color: #36b964;
}
.AllowedFields2 {
  background-color: #ffa7a7;
}

.NotYourTurn {
  background: #ff6b6b;
  width: 100%;
  display: block;
  color: white;
  font-weight: bold;
  padding: 6px;
}

@media screen and (max-width: 768px) {
  #App header button {
    margin: 0px 5px; /* Reduce the margin between buttons */
  }
}
